:root {
    --pink: #F6E8EA;
    --red: #EF626C;
    --white: #FFFAFB;
    --charcoal: #312F2F;
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
html, body { background-color: var(--red); height: 100%; }

@font-face { font-family: Smart; src: url("03SmartFontUI.ttf"); }

h1 { text-align: center; font-family: Smart; font-size: 60px; color: var(--pink); }
p { text-align: center; font-family: Smart; font-size: 20px; color: var(--white); }

a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--charcoal);
    font-family: Smart; color: var(--charcoal);
    transition: 0.3s;
}
a:hover {
    border-color: var(--white);
    color: var(--white);
}

footer {
    font-family: Smart;
    font-size: 14px;
    background-color: var(--pink);
    padding: 40px;
    margin-top: 40px;
    color: var(--charcoal);
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 40px;
}

.screenshot {
    margin-top: 20px;
    width: 80%;
    max-width: 700px;
    border: 3px solid var(--white);
    border-radius: 10px;
}
.screenshot img { width: 100%; object-fit: cover; }
.number {
    border-radius: 50%;
    width: 50px; height: 50px;
    background-color: var(--pink);
    display: flex; align-items: center; justify-content: center;
    text-align: center; font-family: Smart; font-size: 24px; color: var(--charcoal);
}

#content {
    padding: 40px 0;
    height: 100%; width: 100%;
}
